<h2> Publiér une nouvelle blague </h2>

<%= form_with model: @blague, local: true do |form| %>

<p>
<%= form.label :nom %>
<%= form.text_field  :nom %>
</p>
<p>
<%= form.label :contenue %>
<%= form.text_field  :contenue %>
</p>
<p>
<%= form.label :nom %>
<%= form.text_field  :nom %>
</p>

<%end%>
